*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#parent{
    display: flex;
    justify-content: center;
    height: 100vh;
}

#child1{
    width: 100px;
    height: 100px;
    background-color: #007bff;
}
#child2{
    width: 100px;
    height: 100px;
    background-color: #111;
}
#child3{
    width: 100px;
    height: 100px;
    background-color: #222;
}